# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AbstractShaderEngine

.vscode/

*.ppm


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Bb]uild/
[Bb]inaries/
# Add this line
out/

# visual studio
.vs/
*.sln
*.vcxproj
*.filters
*.vcxproj.filters
*.PACKAGE.vcxproj
*.PACKAGE.vcxproj.filters

!resources/*

# cmake
CMakeFiles/
**/*.cmake
*.cmake
*.pc
*.ninja
**/CMakeCache.txt
**/Makefile
/lib/glfw/src/glfw3ConfigVersion.cmake
/lib/glfw/src/glfw3Config.cmake
JSON/*
CMakeSettings.json

#ignore resources
!**/resources/models/*.obj
*.vim
